PORT=3001
FRONTEND_URL_DEPLOYED=

BETTER_AUTH_SECRET=

# url to the backend
BETTER_AUTH_URL=http://localhost:3001

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# comment out resend api key in development mode

# resend
# RESEND_API_KEY=

#  smtp credentials
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_USER=user
SMTP_PASSWORD=password
