REDIS_URL=redis://localhost:6379

TIMESCALE_USER=exchange
TIMESCALE_HOST=localhost
TIMESCALE_DATABASE=exchange
TIMESCALE_PASSWORD=nagmani
TIMESCALE_PORT=5433

# update 
DATABASE_URL="postgresql://postgres:password@localhost:5432/postgres"
